.header {
    width: 85vw;
    height: 30vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border: solid 1px black;

    &__title {
        color: white;
    }
}