
.navbar {
    height: 100%;
    width: 15vw;

    position: fixed;
    top: 0;
    left: 0;


    border: 1px solid black;

    &__heading {

    }

    &__links {
        display: flex;
        flex-direction: column;
    }
}